<header>
    <nav class="header__navbar">
        <div class="container">
            <div class="navbar__left">
                <button class="navbar__toggler">
                    <span></span>
                </button>
                <a href="" class="navbar__brand"><img src="images/logo.svg" alt="Logo"></a>
                <div class="navbar__collapse">
                    <ul class="navbar__list">
                        <li class="navbar__list-item"><a href="#">Home</a></li>
                        <li class="navbar__list-item"><a href="#">Blog</a></li>
                        <li class="navbar__list-item"><a href="#">FAQ</a></li>
                        <li class="navbar__list-item"><a href="#">Security</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar__button-container">
                <button class="navbar__button navbar__button--log-in">Log In</button>
                <button class="navbar__button navbar__button--sign-in">Sign Up</button>
            </div>
        </div>
    </nav>
    <div class="header__content">
        <div class="container">
            <div class="header__left">
                <h1 class="header__title">
                    All operations
                    <br>
                    in a Single Wallet
                </h1>
                <p class="header__description">
                    The PayPay Wallet is a safe place for the trader’s portfolio:
                    store your crypto & fiat funds to track profits and other activities.
                </p>
                <div class="header__link-container">
                    <div class="header__link-item">
                        <a href="#"><img src="images/Google-Play.svg" alt="Google Play logo"></a>
                        <div class="header__link-description">
                            <div class="header__link-rating">4.6</div>
                            <div class="header__link-reviews">78 reviews</div>
                        </div>
                    </div>
                    <div class="header__link-item">
                        <div class="header__link-item">
                            <a href="#"><img src="images/App-Store.svg" alt="App Store logo"></a>
                            <div class="header__link-description">
                                <div class="header__link-rating">4.6</div>
                                <div class="header__link-reviews">80 reviews</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <picture>
                    <source media="(max-width: 576px)" srcset="images/header-phone@2x.png 2x, images/header-phone.png 1x">
                    <source srcset="images/header-computer@2x.png 2x, images/header-computer.png 1x"/>
                    <img src="images/header-computer.png" alt="Computer with product image">
                </picture>
            </div>
        </div>
    </div>
</header>