/*------------------------Reset style------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

button, input {
  border: none;
}

input:focus,
textarea:focus {
  outline-color: $primary_blue;
  caret-color: $primary_blue;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body * {
  outline-color: $primary_blue;
}

/*------------------------Global style------------------------*/

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  overflow: hidden;
  @include xl{
    padding: 0 40px;
  }
  @include sm {
    padding: 0 24px;
  }
}

button {
  cursor: pointer;
}

.section-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: $primary_dark;
  @include xs {
    font-size: 28px;
    line-height: 36px;
    //max-width: 250px;
    margin-right: 77px;
  }
}

.no-scroll {
  overflow: hidden;
}