$black: #000;
$light_black: #1D1D1D;
$primary_dark: #25253E;
$primary_blue: #3139CE;
$primary_lavanda: #D6D7F5;
$primary_white: #FFFFFF;
$primary_gray: #adb5bd;
$primary_pressed_white: #F7F7F7;
$primary_bg_gray: #FAFAFA;
$secondary_light: #F4F5FB;
$secondary_pressed: #6F75E5;
$secondary_active_text: #545762;
$secondary_hover_text: #9B9B9B;
$secondary_disabled_text: #70707E;
$secondary_inactive_text: #E1E1E4;
$accent_red: #F5332D;
$bg_gray: #F6F6F6;
$shadow_card_faq: 0 4px 11px rgba(56, 57, 77, 0.1);

